div {
    display: inline-block;
    border: 1px solid black;
    width: 200px;
    height: 200px;
}

.vermelha {
    background-color: red;
}

.azul {
    background-color: blue;
}

#canto1,
#canto2,
#canto3,
#canto4 {
    border-color: darkgray; 
}

#canto1:hover,
#canto2:hover,
#canto3:hover,
#canto4:hover {
    background-color: yellow; 
}

.quadrado {
    margin: -2px; 
}
