body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.outer-border {
    position: absolute;
    top: calc(50% - 210px);
    left: calc(50% - 210px);
    height: 420px; /* Tamanho ligeiramente maior para incluir a borda */
    width: 420px; /* Tamanho ligeiramente maior para incluir a borda */
    border: 10px solid rgba(100, 100, 100, 0.6); /* Primeira borda */
    border-radius: 50%;
    z-index: -3;
}

.box {
    position: relative;
    height: 400px;
    width: 400px;
    background-image: url('Lótus.webp'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%; 
    z-index: 2;
    border: 10px solid rgba(0, 255, 0, 0.6); 
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0.6); 
}

.box p {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    z-index: 2;
    position: relative;
}