* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", serif, "Times New Roman", Times, serif;
}

:root {
  --primary-white: #ffffff;
  --primary-red: #fe4a51;
  --primary-gray: #2d2d2d;
  --secondary-gray: #dedada;
  --primary-pink: #ffe5e6;
}

header {
  background-color: var(--primary-white);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  border-bottom: 1px solid rgba(2, 2, 2, 0.192);
}

header > div > p {
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 1px solid var(--primary-red);
  text-shadow: 1px 1px 2px var(--primary-red);
}

header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

.nav-links {
  display: flex;
  gap: 30px;
}

a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--primary-gray);
  transition: all 0.2s linear;
  padding: 5px;
  border-bottom: 1px solid transparent;
}

a:hover {
  border-bottom: 1px solid #fe4a51;
  transform: translateY(-5px);
}

footer a {
  color: var(--primary-white);
  font-size: 0.8rem;
}

.section-contato button:hover {
  color: var(--primary-gray);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-white);
  margin-bottom: 40px;
}

section {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  cursor: pointer;
  font-family: "Lato", sans-serif;
  border: none;
}

.section-home {
  width: 100%;
  height: 600px;
  flex-direction: column;
  position: relative;
  justify-content: end;
  background-image: url("assets/images/background.png");
  background-repeat: no-repeat;
  background-position: center;
}

.section-home div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.infor {
  flex-direction: column;
  margin-top: 50px;
}

.infor-content > span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.section-home h1 {
  font-size: 2.5rem;
}

.section-home h1,
span {
  color: var(--primary-white);
}

.section-home button {
  background-color: var(--primary-red);
  color: var(--primary-white);
  padding: 10px;
  transition: all 0.3s linear;
}

.section-home button:hover {
  background-color: var(--primary-white);
  color: var(--primary-red);
}

.imagens-comidas {
  position: relative;
  bottom: -130px;
}

.imagens-comidas img {
  transition: all 0.5s ease;
}

.imagens-comidas img:hover {
  transform: translateY(-10px);
}

.section-sobre h1 {
  width: 95%;
  margin: 200px 50px 0;
}

.line {
  width: 95%;
  height: 1px;
  margin-top: 15px;
  background-color: var(--primary-gray);
}

.conteudo-sobre {
  width: 95%;
  display: flex;
  margin-top: 40px;
  gap: 50px;
}

.text-sobre {
  width: 45%;
  font-size: 1.2rem;
  font-weight: 400;
}

.comidas-img,
.comidas-grid {
  position: relative;
  display: inline-block;
  transition: all 0.3s ease;
}

.comidas-img:hover {
  transform: scale(1.05);
}

.comidas-img img {
  width: 300px;
  height: 90%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: var(--primary-white);
  text-align: center;
}

.overlay h2 {
  font-size: 1.2rem;
}

.img-content {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 90%;
  margin-top: 10px;
}

.img-content span {
  display: flex;
  font-size: 0.8rem;
  align-items: center;
}

.img-content img {
  width: 10px;
  margin-right: 5px;
}

.grid-images {
  width: 40%;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(2, auto);
}

.section-comida h1 {
  width: 95%;
  margin-top: 50px;
}

.grid-comidas {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.comidas-grid > img {
  width: 100%;
  height: 100%;
}

.overlay-grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: var(--primary-white);
  text-align: center;
}

.list-comidas {
  display: flex;
  justify-content: space-evenly;
  width: 95%;
  height: auto;
  margin-top: 20px;
  padding: 15px;
  background-color: var(--primary-pink);
}

.list-comidas figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-comidas span {
  color: var(--primary-gray);
  font-weight: bold;
  margin-top: 10px;
}

.list-comidas img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.gallery {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 5vw);
  grid-gap: 0.5rem;
  margin-top: 30px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery__item--2 {
  grid-column-start: 4;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 7;
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 7;
}

.gallery__item {
  position: relative;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-gallery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gallery__item:hover .overlay-gallery {
  opacity: 1;
}
.overlay-gallery p {
  margin-top: 20px;
}

.section-video h1 {
  width: 95%;
  margin-top: 50px;
}

.video {
  margin-top: 20px;
}

.section-localizacao h1 {
  width: 95%;
  margin-top: 50px;
}

.localizacao {
  width: 95%;
  margin-top: 20px;
}

.localizacao > iframe {
  width: 100%;
}

.section-contato h1 {
  width: 95%;
  margin-top: 50px;
}

.rede-social {
  width: 300px;
  margin: auto;
}

.rede-social h4 {
  text-align: center;
}

.contato {
  width: 95%;
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

.formulario {
  margin: auto;
}

.formulario h2 {
  text-align: center;
  padding: 10px 0 30px 0;
}

.formulario form {
  display: flex;
  flex-direction: column;
}

form > input {
  height: 30px;
}

form > input,
textarea {
  margin-bottom: 20px;
  padding: 5px;
  border-color: rgba(0, 0, 0, 0.178);
  outline-color: var(--primary-red);
}

form > button {
  background-color: var(--primary-red);
  color: var(--primary-white);
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.rede-social {
  margin-top: 10px;
}

.social-medias {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

.rede {
  display: flex;
  justify-content: center;
  padding: 10px 30px;
  background-color: var(--secondary-gray);
  color: var(--primary-gray);
  font-size: 0.7rem;
  font-weight: bolder;
}

footer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d2d2d;
}

footer > span {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
}
@media screen and (max-width: 768px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
  }
  .overlay-gallery {
    opacity: 1;
  }
  .overlay-gallery h2 {
    font-size: 0.9rem;
  }

  .overlay-gallery span {
    font-size: 0.6rem;
  }
  .overlay-gallery p {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 1200px) {
  .text-sobre {
    width: 35%;
  }
  .video iframe {
    width: 350px;
    height: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .video iframe {
    width: 1200px;
  }
}
@media screen and (max-width: 1300px) {
  .imagens-comidas {
    bottom: -100px;
  }

  .imagens-comidas img {
    width: 250px;
  }
}
@media screen and (max-width: 1000px) {
  header {
    height: 110px;
  }
  header > div {
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
  }

  a {
    font-size: 0.9rem;
  }
  .imagens-comidas {
    bottom: -150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .imagens-comidas img {
    width: 170px;
  }

  .conteudo-sobre {
    flex-direction: column;
  }

  .text-sobre {
    width: 100%;
    font-size: 0.9rem;
  }

  .grid-images {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }

  .overlay {
    width: 180px;
    height: 98%;
  }
  .overlay h2 {
    font-size: 1.1rem;
  }

  .comidas-img img {
    width: 180px;
  }
  .img-content span {
    font-size: 0.6rem;
  }
  .img-content span > img {
    width: 13px;
  }

  .list-comidas {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .list-comidas img {
    width: 90px;
    height: 90px;
  }
  footer > span {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 1450px) {
  section {
    width: 70%;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

:root {
  --primary-white: #ffffff;
  --primary-blue: #007BFF;
  --primary-dark-blue: #0056b3;
  --primary-gray: #2d2d2d;
  --secondary-gray: #dedada;
  --primary-light-blue: #e6f2ff;
}

body {
  background-color: var(--primary-white);
}

header {
  background-color: var(--primary-white);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  border-bottom: 1px solid var(--secondary-gray);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  max-height: 30px; /* Reduzido de 40px para 30px */
}

header > div > p {
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 1px solid var(--primary-blue);
  text-shadow: 1px 1px 2px var(--primary-blue);
  margin-left: 10px; /* Adicione espaço entre o logo e o texto */
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--primary-gray);
  transition: all 0.2s linear;
  padding: 5px;
  border-bottom: 1px solid transparent;
}

.nav-links a:hover {
  border-bottom: 1px solid var(--primary-blue);
  transform: translateY(-5px);
}

.section-home {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--primary-light-blue);
  padding: 20px;
}

.section-home h1 {
  font-size: 2.5rem;
  color: var(--primary-blue);
}

.infor {
  margin-top: 20px;
}

.infor-content span {
  font-size: 1.2rem;
  color: var(--primary-gray);
}

.section-home button {
  margin-top: 20px;
  background-color: var(--primary-blue);
  color: var(--primary-white);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: all 0.3s linear;
  cursor: pointer;
}

.section-home button:hover {
  background-color: var(--primary-dark-blue);
}

.section-contato {
  padding: 50px 20px;
  background-color: var(--primary-white);
  text-align: center;
}

.section-contato h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.section-contato p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.google-form {
  width: 100%;
  max-width: 640px;
  height: 732px;
  border: none;
  margin: 0 auto;
}

footer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-gray);
  color: var(--primary-white);
  font-size: 0.9rem;
}
